@model UserManagement.Areas.Manager.Models.CategoryModel
@{
    ViewBag.Title = "Category";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="registration-module">
    <h2>Category</h2>
    <div>
        @{
            if (TempData["ErrorMessage"] != null)
            {
                <p class='text-error'>@TempData["ErrorMessage"]</p>
            }
            if (TempData["SuccessMessage"] != null)
            {
                <p class='text-success'>@TempData["SuccessMessage"]</p>
            }
        }
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                @Html.LabelFor(model => model.CategoryName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.CategoryName, new { @class = "control" })
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>           
            <div>
                @Html.LabelFor(model => model.CategoryDescription, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.CategoryDescription, new { @class = "control" })
                @Html.ValidationMessageFor(model => model.CategoryDescription)
            </div>
            <div class="btn-control">
                <input type="submit" class="btn-success" name="command" value="Create" />
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>                                  